@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="dropdown-control"  >

            <div class="dropdown" id="Month">
                    @{
                        List<SelectListItem> listMonths = new List<SelectListItem>();
                        listMonths.Add(new SelectListItem
                    {
                        Text = "January",
                        Value = "01"
                    });
                        listMonths.Add(new SelectListItem
            {
                Text = "February",
                Value = "02"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "March",
                Value = "03"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "April",
                Value = "04"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "May",
                Value = "05"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "June",
                Value = "06"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "July",
                Value = "07"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "August",
                Value = "08"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "September",
                Value = "09"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "October",
                Value = "10"
            });
            listMonths.Add(new SelectListItem
            {
                Text = "November",
                Value = "11"
            });
                        listMonths.Add(new SelectListItem
            {
                Text = "December",
                Value = "12"
            });
                }

                @Html.DropDownList("yourDropName", listMonths, new { @class = "form-control" })

            </div>
            <div class="dropdown" id="Day">
                 @{
                        List<SelectListItem> listDays = new List<SelectListItem>();
                        listDays.Add(new SelectListItem
                    {
                        Text = "01",
                        Value = "01"
                    });
                        listDays.Add(new SelectListItem
            {
                Text = "02",
                Value = "02"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "03",
                Value = "03"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "04",
                Value = "04"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "05",
                Value = "05"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "06",
                Value = "06"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "07",
                Value = "07"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "08",
                Value = "08"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "09",
                Value = "09"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "10",
                Value = "10"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "11",
                Value = "11"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "12",
                Value = "12"
            });
             listDays.Add(new SelectListItem
            {
                Text = "13",
                Value = "13"
            });
             listDays.Add(new SelectListItem
            {
                Text = "14",
                Value = "14"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "15",
                Value = "15"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "16",
                Value = "16"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "17",
                Value = "17"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "18",
                Value = "18"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "19",
                Value = "19"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "20",
                Value = "20"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "21",
                Value = "21"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "22",
                Value = "22"
            });
             listDays.Add(new SelectListItem
            {
                Text = "23",
                Value = "23"
            });
             listDays.Add(new SelectListItem
            {
                Text = "24",
                Value = "24"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "25",
                Value = "25"
            });
             listDays.Add(new SelectListItem
            {
                Text = "26",
                Value = "26"
            });
             listDays.Add(new SelectListItem
            {
                Text = "27",
                Value = "27"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "28",
                Value = "28"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "29",
                Value = "29"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "30",
                Value = "30"
            });
                        listDays.Add(new SelectListItem
            {
                Text = "31",
                Value = "31"
            });
                  }

                    @Html.DropDownList("yourDropName", listDays, new { @class = "form-control" })
            </div>
            <div  class="dropdown" id="Year" >
                 @{
                        List<SelectListItem> listYear = new List<SelectListItem>();
                        listYear.Add(new SelectListItem
                    {
                        Text = "1996",
                        Value = "1996"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "1997",
                        Value = "1997"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "1998",
                        Value = "1998"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "1999",
                        Value = "1999"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2000",
                        Value = "2000"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2001",
                        Value = "2001"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2002",
                        Value = "2002"
                    });
                        listYear.Add(new SelectListItem
            {
                Text = "2003",
                Value = "2003"
            });
                        listYear.Add(new SelectListItem
            {
                Text = "2004",
                Value = "2004"
            });
             listYear.Add(new SelectListItem
                    {
                        Text = "2005",
                        Value = "2005"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2006",
                        Value = "2006"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2007",
                        Value = "2007"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2008",
                        Value = "2008"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2009",
                        Value = "2009"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2010",
                        Value = "2010"
                    });
                     listYear.Add(new SelectListItem
                    {
                        Text = "2011",
                        Value = "2011"
                    });
                    listYear.Add(new SelectListItem
                    {
                        Text = "2012",
                        Value = "2012"
                    });
                    listYear.Add(new SelectListItem
                    {
                        Text = "2013",
                        Value = "2013"
                    });
                    listYear.Add(new SelectListItem
                    {
                        Text = "2014",
                        Value = "2014"
                    });
                    listYear.Add(new SelectListItem
                    {
                        Text = "2015",
                        Value = "2015"
                    });
                    listYear.Add(new SelectListItem
                    {
                        Text = "2016",
                        Value = "2016"
                    });
                        listYear.Add(new SelectListItem
            {
                Text = "2017",
                Value = "2017"
            });listYear.Add(new SelectListItem
                    {
                        Text = "2018",
                        Value = "2018"
            }); listYear.Add(new SelectListItem
            {
                Text = "2019",
                Value = "2019"
            }); listYear.Add(new SelectListItem
            {
                Text = "2020",
                Value = "2020"
            });
                    }

                    @Html.DropDownList("yourDropName", listYear, new { @class = "form-control" })
            </div>
            </div>
            <!--<div class="form-floating">
                <input asp-for="Input.Age" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Age"></label>
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>-->
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                    about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                }
                else
                {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                    </p>
                                </div>
                            </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
